<configuration>

    <appender name="tasks" class="ch.qos.logback.core.FileAppender">
        <file>logs/tasks.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Users -->
    <appender name="users" class="ch.qos.logback.core.FileAppender">
        <file>logs/users.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Task Logger -->
    <logger name="com.learning.todo.kafkaPackage.kafkaServices.KafkaConsumerService.consumeTask" level="info">
        <appender-ref ref="tasks" />
    </logger>

    <!-- User Logger -->
    <logger name="com.learning.todo.kafkaPackage.kafkaServices.KafkaConsumerService.consumeUser" level="info">
        <appender-ref ref="users" />
    </logger>

</configuration>
